@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'DonGraffiti';
    src: url('./fontes/DonGraffiti.otf') format('opentype');
}

:root {
    --cor0: #119DA4;
    --cor1: #0C7489;
    --cor2: #13505b;
    --cor3: #040404;
    --cor4: #D7D9CE;

    --fonte-titulo: 'DonGraffiti', cursive;
    --fonte-destaque: 'Anton', cursive;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;

}

* {
    margin: auto;
    padding: 0px;
    text-align: center;
    font-family: var(--fonte-padrao);
}

body {
    background-color: black;
}

header {
    max-width: 500px;
    padding: 33px 0px 33px 0px;
    background-image: linear-gradient(to bottom, #13505b, #0C7489, #119DA4 );
}

header > h1 {
    padding-bottom: 10px;
    font-family: var(--fonte-titulo);
    letter-spacing: 5px;
    color: var(--cor4);
    text-shadow: 4px 4px 5px black;
    font-size: 60px;
}

h2 {
    font-family: var(--fonte-destaque);
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: 1.1em;
    color: black;
    text-shadow: 1px 1px 0px var(--cor4);
    font-size: 23px;
}

nav {
    padding: 5px 0px 5px 0px;
    background-color: var(--cor2);
    max-width: 500px;
}

nav > a {
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    letter-spacing: 1px;
    text-decoration: none;
    
}

nav > a:hover {
    text-decoration: underline;
    font-weight: bold;

}

.futebol {
    padding-right: 60px;
}

.basquete {
    padding-left: 60px;
}

main {
    max-width: 500px;
    background-color: var(--cor3);
    background-image: url(./imagens/toejam.gif);
    background-size: 100%;
    background-repeat: repeat-y;
}

.shirts-box {
    justify-content: center;
}

.shirt {
    max-width: 350px;
}

.shirt p {
    background-color: var(--cor2);
    color: var(--cor4);
    font-family: var(--fonte-destaque);
    font-size: large;
}

.shirt img {
    width: 100%;
    display: block;
}

footer > h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor4);
}

.whats {
    max-width: 80px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.wpp-ico {
    width: 100%;
}
